<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon" />
  </head>
  <body>
    <%-include("./includes/header.ejs") %>
    <main>
      <section class="w-11/12 mx-auto text-center mt-8">
        <h1 class="text-3xl">Explore Our Latest Blogs</h1>
        <p>
          Insights, trends, and stories from industry experts and enthusiasts.
        </p>
      </section>

      <section class="w-11/12 mx-auto my-12">
        <div class="flex flex-col gap-8">
          <% for(blog of blogs) { %>
          <a
            href="/blogs/<%= blog._id %>"
            class="item flex bg-white rounded-lg p-5 pr-7 max-sm:pr-5 gap-5 hover:shadow-2xl duration-300 items-center max-sm:flex-col"
          >
            <img
              src="<%= blog.image %>"
              alt="<%= blog.title %>"
              class="max-w-64 max-sm:max-w-full rounded-lg object-cover"
              loading="lazy"
            />
            <div class="flex flex-col gap-2 max-sm:gap-3">
              <p class="bg-dark max-w-fit px-3 rounded-md text-sm">
                <%= blog.category %>
              </p>
              <h3 class="text-2xl"><%= blog.title %></h3>
              <p class="">
                <%= blog.content.length > 200 ? blog.content.substring(0, 200) +
                '... ' : blog.content %> <% if (blog.content.length > 200) { %>
                <span class="text-primary">Read More</span>
                <% } %>
              </p>
              <p class="text-slate-400 text-sm">
                <span>By <%= blog.userId.username %> at </span>
                <%= blog.createdAt.toLocaleDateString('en-IN') %>, <%=
                blog.createdAt.toLocaleTimeString('en-IN') %>
              </p>
            </div>
          </a>
          <% } %>
        </div>
      </section>
    </main>
  </body>
</html>
