<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Blog</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">

  </head>
  <body>
    <%-include("./includes/header.ejs") %>

    <main>
      <section class="mt-32">
        <form
          method="post"
          action="/blogs/<%= blog._id %>?_method=PATCH"
          class="bg-white shadow-2xl py-10 px-8 w-6/12 mx-auto max-sm:w-11/12 rounded-xl"
        >
          <h1 class="text-3xl font-bold text-center mb-5">Editing Blog</h1>
  
          <input
            class="w-full p-2 pl-3 my-2 bg-form border-none outline-none rounded-md"
            placeholder="Enter Title"
            type="text"
            name="title"
            value="<%= blog.title  %>"
            required
          />
          <select
            class="w-full p-2 pl-3 my-2 bg-form border-none outline-none rounded-md"
            type="select"
            name="category"
            required
          >
          <option value="<%= blog.category %>"><%= blog.category %></option> 
          <input
            class="w-full p-2 pl-3 my-2 bg-form border-none outline-none rounded-md"
            placeholder="enter Image Url"
            type="text"
            name="image"
            value="<%= blog.image %>"
            required
          />
          <div id="editor-container" class="w-full p-2 pl-3 my-2 bg-form rounded-md"></div>
          <textarea
            name="content"
            class="hidden"
            id="content"
            placeholder="Enter Your Blog Details"
            rows="20"
          ><%= blog.content %></textarea>
  
          <% if (error_msg) { %>
          <p style="color: red"><%= error_msg %></p>
          <% } %> <% if (error) { %>
          <p style="color: red"><%= error %></p>
          <% } %>
  
          <button
            type="submit"
            class="bg-primary font-medium px-6 py-2 my-3 rounded-lg text-white duration-300 w-full"
          >
            Update
          </button>
        </form>
      </section>
    </main>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
      var quill = new Quill('#editor-container', {
        theme: 'snow',
        modules: {
          toolbar: [
            [{ 'header': [2, 3, false] }],
            ['bold', 'italic', 'underline'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            ['link']
          ]
        }
      });
     
      quill.root.innerHTML = document.getElementById('content').value;

      // Set the content of the hidden textarea when the form is submitted
      document.querySelector('form').addEventListener('submit', function() {
        document.querySelector('#content').value = quill.root.innerHTML;
      });
    </script>
  </body>
</html>
